<div class="banner-new-cocktail" style="background-image: url(https://images.pexels.com/photos/319893/pexels-photo-319893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <h1><%= @cocktail.name.upcase %></h1>
</div>
