<div class="container-title">
  <h1><%= @monument.name.upcase %></h1>
</div>

<div class="banner-index">
  <div>
    <h1>WHAT WE FOUND FOR YOU</h1>
    <p>Find inspiration for your events.</p>
  </div>
</div>
