<div class="container">
  <div class="container-search title-form">
    <div class="title-form">
      <h2>FIND A MONUMENT, AND RENT IT!</h2>
    </div>
      <%= form_tag monuments_path, method: :get do %>
      <%= text_field_tag :query,
                        params[:query],
                        class: "form-control title-form",
                        placeholder: "Rome"
    %>
    <%= submit_tag "SEARCH", class: "btn btn-form title-form" %>
  <% end %>

  </div>
</div>

