.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-image: url('https://images.pexels.com/photos/739407/pexels-photo-739407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  height: 100vh;
  padding-top: 20vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: 700;
  font-family: 'poppins';
  margin-top: 25px;
  margin-bottom: 30px;
}

.banner-index {
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: left;
  height: 40vh;
  padding-top: 30vh;
  text-align: justify;
}

.banner-index h1 {
  margin: 0;
  color: white;
  font-size: 52px;
  font-weight: 700;
  font-family: 'poppins';
  margin-left: 50px;
}

.banner-index p {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: 400;
  font-family: 'poppins';
  margin-left: 50px;
}

