.btn-form {
  color: #4b4d4f;
  padding: 13px 2px;
  font-weight: bold;
  background: transparent;
  border: solid 1px #4b4d4f;
  transition: background 0.3s ease;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-top: 10px;
  box-shadow: 1px 4px 5px #ededed;
  width: 150px;
}

.btn-form:hover {
  opacity: 1;
  background: #3179e2;
  text-decoration: none;
  color: white;
  border: 0px;
  border: solid 1px #3179e2;
}
