.container-form {
  padding: 21px;
  padding-top: 60px;
  padding-bottom: 60px;
  border: solid #b8b8ba 1px;
  width: 400px;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  height: 500px;
}

.container-search {
  padding: 21px;
  border: solid #b8b8ba 1px;
  width: 350px;
  margin-left: 100px;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
}

.container-search h2 {
  font-size: 30px;
  font-weight: 700;
}

.title-form {
  margin-bottom: 30px;
  margin-top: 20px;
}

.container-description {
  display: inline-flex;
  flex-wrap: wrap-reverse;
}

.details-monument {
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 1px #EBE5E4;
  background: white;
  box-shadow: 7px 8px 20px 4px #e4dede;
  margin-bottom: 40px;
  border-radius: 6px;
}

.confirmation {
  padding-bottom: 30px;
  border: solid 1px #EBE5E4;
  background: white;
  box-shadow: 7px 8px 20px 4px #e4dede;
  border-radius: 6px;
  width: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
}


