.mapboxgl-popup {
  max-width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Poppins';
}
#map {
  margin-top: 5px;
  border-radius: 8px;
  position: sticky;
  top : 0 ;
}
