body {
  background: #fcfcfc;
}

.center {
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: 30px;
}

h1 {
  font-weight: 800;
  font-size: 60px;
  font-family: 'poppins';
}

.container-title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

p {
  font-family: 'poppins';
  font-weight: 200;
  font-size: 20;
}
